NODE_ENV=development
PORT=3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/project
NATS_URL=nats://localhost:4222
LOG_LEVEL=info
ENABLE_INFRASTRUCTURE=false
CORS_ORIGIN=http://localhost:4200
AUTH_SERVICE_URL=http://localhost:3101
USER_SERVICE_URL=http://localhost:3102
EMPLOYEE_SERVICE_URL=http://localhost:3103
PAYROLL_SERVICE_URL=http://localhost:3104
REPORTING_SERVICE_URL=http://localhost:3105
